* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.dashboard-header {
    background-color: #555;
    color: white;
    padding: 1rem;
    text-align: center;
}

.main-content {
    flex-grow: 1;
    display: flex;
    padding: 1rem;
}

.sidebar {
    background-color: #777;
    color: white;
    padding: 1rem;
    width: 20%;
}

.group-section {
    flex-grow: 1;
    background-color: #999;
    padding: 1rem;
    margin-left: 1rem;
}

.create-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.button-create-group {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.student-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
}

.student-item {
    background-color: #bbb;
    padding: 1rem;
    text-align: center;
}

.student-item img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.student-name {
    margin-top: 0.5rem;
}
