.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.left-nav {
  display: flex;
  align-items: center;
}

.section-header h2 {
  display: flex; /* Keeps title and button in a row */
  align-items: center; /* Centers them vertically */
  gap: 10px; /* Adds space between the title and the button */
  /* Remove justify-content or set it to 'flex-start' to align items to the start */
}

.add-group-btn {
  padding: 0 0.5em; /* Adjust padding as needed */
  font-size: 1.5rem; /* Keep the font size large for the button */
  /* Rest of your styles for .add-group-btn */
}

.existing-groups ul {
  list-style: none; /* Removes the default list styling */
  padding: 0; /* Removes the default padding */
  margin: 0; /* Removes the default margin */
}

.existing-groups li {
  background-color: #ecf0f1; /* Sets the background color for list items */
  margin-bottom: 10px; /* Adds space between list items */
  padding: 10px; /* Adds padding inside each list item */
  border-radius: 4px; /* Rounds the corners of the list items */
}

.right-nav-icons {
  display: flex;
  align-items: center;
}

.right-nav-icons span {
  margin-left: 10px;
  cursor: pointer;
  /* Style for icons here */
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
  .dashboard-header {
      flex-wrap: wrap;
  }
  .left-nav,
  .right-nav-icons {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;
  }
  .right-nav-icons span {
      margin: 0; /* Reset margin for mobile view */
  }
}

