/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #E5E5E5;
  margin: 0; /* Remove default margin */
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem; /* Reduce padding */
  background-color: #333;
  color: white;
}

.logo {
  font-weight: bold;
}

.header-icons span {
  margin-right: 10px;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Adjust column width ratio */
  gap: 0.5rem; /* Reduce gap between boxes */
  padding: 0.5rem; /* Reduce padding */
  max-width: 1200px; /* Set max-width for content area */
  margin: 0 auto; /* Center content area */
}

.box {
  background-color: white;
  padding: 15px; /* Reduce padding */
  border-radius: 5px; /* Reduce border radius */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Adjust shadow */
}

/* Adjust the grid row for the first and third boxes to be on the first column */
.create-group,
.existing-groups {
  grid-row: span 2; /* Each of these boxes takes two rows height */
}

button {
  background-color: #555;
  color: white;
  padding: 8px 12px; /* Reduce padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0; /* Remove default padding */
}

ul li {
  background-color: #EEE;
  margin-bottom: 8px; /* Reduce margin */
  padding: 8px;
  border-radius: 5px;
}

.add-group-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 5px; /* Reduce margin */
}

h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem; /* Reduce margin */
}

h3 {
  margin-bottom: 0.5rem; /* Reduce margin */
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
  .create-group,
  .existing-groups {
    grid-row: auto;
  }
}


