.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio label {
    cursor: pointer;
}

.custom-radio label i {
    font-size: 24px;
    color: #ccc;
}

.custom-radio input[type="radio"]:checked + label i {
    color: #f8c71c; /* Change color for checked radio */
}


/* Apply this style to medals when they are inside an item box */
.item .medal {
    width: 30px; /* Adjust this value to the size you want after dropping */
    height: auto; /* This will maintain the aspect ratio */
    position: absolute;
    top: 5px;
    right: 5px;
}

.item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    position: relative; /* For medal positioning */
}
